<!--  Footer -->
<div class="container mx-auto py-6 grid grid-cols-2 md:grid-cols-4 gap-4">
    <div>
        <h4 class="font-semibold">Buy</h4>
        <ul>
            <li><a href="#" class="hover:underline">Registration</a></li>
            <li><a href="#" class="hover:underline">Bidding</a></li>
            <li><a href="#" class="hover:underline">Buying Help</a></li>
        </ul>
    </div>
    <div>
        <h4 class="font-semibold">Sell</h4>
        <ul>
            <li><a href="#" class="hover:underline">Start Selling</a></li>
            <li><a href="#" class="hover:underline">Seller Center</a></li>
        </ul>
    </div>
    <div>
        <h4 class="font-semibold">Stay Connected</h4>
        <ul>
            <li><a href="#" class="hover:underline">Facebook</a></li>
            <li><a href="#" class="hover:underline">Twitter</a></li>
            <li><a href="#" class="hover:underline">Instagram</a></li>
        </ul>
    </div>
    <div>
        <h4 class="font-semibold">Help & Support</h4>
        <ul>
            <li><a href="#" class="hover:underline">Customer Service</a></li>
            <li><a href="#" class="hover:underline">Contact Us</a></li>
        </ul>
    </div>
</div>
<p class="text-center mt-6">© 2025 eBay. All rights reserved.</p>