<!--  Top Navigation Bar -->
<nav class="bg-gray-900 text-white text-sm">
    <div class="container mx-auto flex justify-between p-2">
        <div>
            <a href="#" class="px-3 hover:underline">Daily Deals</a>
            <a href="#" class="px-3 hover:underline">Brand Outlet</a>
            <a href="#" class="px-3 hover:underline">Help & Contact</a>
        </div>
        <div>
            <a href="#" class="px-3 hover:underline">Sign in</a>
            <a href="#" class="px-3 hover:underline">Register</a>
            <a href="#" class="px-3 hover:underline">My eBay</a>
            <a href="#" class="px-3 hover:underline">Cart 🛒</a>
        </div>
    </div>
</nav>

<!-- Main Navigation -->
<nav class="bg-white shadow-md py-3">
    <div class="container mx-auto flex justify-between items-center">
        <a href="">
            <ul class="flex px-3 space-x-0 font-ebay">
                <li class="text-4xl font-bold text-red-600">e</li>
                <li class="text-4xl font-bold text-blue-600">b</li>
                <li class="text-4xl font-bold text-yellow-400">a</li>
                <li class="text-4xl font-bold text-green-500">y</li>
            </ul>    
        </a>
          
        <!-- Search Bar -->
        <div class="flex-grow mx-6 p-2">
            <div class="flex items-center bg-white  border-gray-300 rounded-lg overflow-hidden p-2 space-x-2">
                <!-- Category Dropdown -->
                <select title="categories" class="px-3 py-2 text-sm border-r focus:outline-none" onchange="location = this.value;">
                    <option selected disabled>Shop by category</option>
                    {% for category in categories %}
                        <option value="{% url 'category-products' category.id %}">{{category.name}}</option>
                    {% endfor %}
                </select>
        
                <!-- Search Input -->
                <input type="text" placeholder="Search for anything"
                    class="flex-grow px-4 py-2 text-black focus:outline border-2 border-gray-500 rounded-3xl">
        
                <!-- Search Button -->
                <button class="bg-blue-600 px-8 py-2  text-white font-semibold rounded-3xl hover:bg-blue-700 transition w-full md:w-auto">
                    Search
                </button>
            </div>
        </div>

        <a href="#" class="px-4 text-gray-700">Sell</a>
    </div>
</nav>